# Rust
/target/
**/*.rs.bk

# Python
/.venv/
/.pytest_cache/
/.ruff_cache/
/.mypy_cache/
**/__pycache__/
*.py[cod]
*.so
*.pyd
*.dylib
*.egg-info/
/dist/

# Editors and operating systems
.DS_Store
.idea/
.vscode/

